*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #08D9D6;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
fieldset{
    background-color: #EAEAEA;
    margin-top: 10rem;
    border-radius: 5px;
    padding: 5px;
}
button{
    position: relative;
    right: -5rem;
    border-radius: 3px;
    margin:5px;
    color: #EAEAEA;
    background-color: #252A34;
}